
a{
        color: #0854a1;
        margin-inline-start: -15px;
        img{
                width: 14px;
                height: 18px;
        }
        span{
                padding: 0px 10px;
        }
}
.details{
        justify-content: space-between;
}
.back-button {
  width: fit-content;
}

.btn.transparent {
  cursor: pointer;
}



